**
!.dockerignore
!server/
!server/Dockerfile
!server/package.json
!server/package-lock.json
!server/src/
!server/src/**
!server/scripts/
!server/scripts/**
!utils/
!utils/scoring-engine.js

!server/web/
!server/web/**
!shared/
!shared/**
